.accordion summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.5rem 0;
}

.accordion .summary__title {
  display: flex;
  flex: 1;
}

.accordion .summary__title + .icon-caret {
  height: calc(var(--font-heading-scale) * 0.6rem);
}

.accordion + .accordion {
  margin-top: 0;
  border-top: none;
}

.accordion {
  margin-top: 2.5rem;
  margin-bottom: 0;
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.accordion__title {
  display: inline-block;
  max-width: calc(100% - 6rem);
  min-height: 1.6rem;
  margin: 0;
  word-break: break-word;
}

.accordion .svg-wrapper {
  align-self: center;
  fill: rgb(var(--color-foreground));
  height: calc(var(--font-heading-scale) * 2rem);
  margin-right: calc(var(--font-heading-scale) * 1rem);
  width: calc(var(--font-heading-scale) * 2rem);
}

.accordion details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.accordion__content {
  margin-bottom: 1.5rem;
  word-break: break-word;
  overflow-x: auto;
  padding: 0 0.6rem;
}

.accordion__content img {
  max-width: 100%;
}

/* Accorditon custom */
.product-accordion {
  border-top: 1px solid #334fb4;
}

.accordion-item {
  border-bottom: 1px solid #334fb4;
  transition: background 0.3s ease;
}

.accordion-toggle {
  all: unset;
  cursor: pointer;
  width: 100%;
  padding: 12px;
  font-weight: 500;
  font-size: 16px;
  color: #19244e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.accordion-toggle::after {
  content: '';
  flex: none;
  width: 6px;
  height: 6px;
  border-right: 2px solid #334fb4;
  border-bottom: 2px solid #334fb4;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
  margin-left: auto;
}


.accordion-item.open .accordion-toggle::after {
  transform: rotate(135deg);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  color: #19244e;
  font-size: 14px;
  line-height: 1.5;
  transition: max-height 0.4s ease;
  padding: 0 12px;
  background: rgba(255,255,255,0.3);
}

.accordion-item.open .accordion-content {
  max-height: 1000px;
  padding: 10px 12px;
}
